<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.divairmaa.pizzapremio">
    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="House Of Korean Skincare"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".navbar"/>
        <activity android:name=".pilihan"/>
        <activity android:name=".order"/>
        <activity android:name=".struk"/>
        <activity android:name=".contact"/>
        <activity android:name=".exit"/>
        <activity android:name=".about"/>
    </application>
</manifest>